<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<title>Userpage - Change password</title>
{% include 'home/head.html' %}

<link href="{% static 'home/css/sidebars.css' %}" rel="stylesheet">
<script src="{% static 'home/js/scrollbar.js' %}"></script>

<body>

{% include 'home/header.html' %}

<main style="background-color: #F1F2E5; margin-top: 50px; margin-bottom: 40px;">  
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card profile-card" style="width: 500px; margin-top: 20px;">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center p-4" style="margin-top: -20px;">
                        <span class="fs-5 fw-bold text-danger" style="text-align: center;">Change password</span>
                        <hr class="bg-dark"> 
                        <h4 class="fs-5 text-info">Please enter your old and new passwords</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <div class="d-flex flex-column mt-4">
                                <button class="mt-4 btn btn-primary flex-grow-1" type="submit">Save changes</button>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'home/footer.html' %}

</body>
</html>