<header class="site-header" role="banner">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
        <div class="container-xl">
            <a class="navbar-brand" href="/" >
                <span class="material-symbols-outlined" style="color: #FF770F;font-size:32px;">home</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText" style="text-align: right;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/myapp">Survey</a>
                        </div>
                    </li>
                </ul>
            </div>

            <span class="material-symbols-outlined" style="color: whitesmoke;">search</span>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                {% if user.is_authenticated %}
                    <a class="btn btn-warning" href="#">Welcome, {{user.username}}</a>
                    <a class="btn btn-outline-light me-2" href="/logout">Logout</a>
                {% else %}
                    <a class="btn btn-warning" href="/register">Register</a>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

</header>
