<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% include 'home/head.html' %}

<body>

{% include 'home/header.html' %}

<!-- Message display -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <a{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: #002EA6">{{ message }}</a>
        {% endfor %}
    </ul>
{% endif %}

<main>
    <!--Contact form-->
    {% if user.is_authenticated %}
        <div style="text-align:center;"><font1>You're now on the user page</font1></div>
        <div>
            <h4>Contact me</h4>
            <p>Hi there, leave me a message, and I will reply you ASAP.</p>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Submit</button>
            </form>
        </div>
    {% else %}
{#        <div style="text-align:center;"><font1 >You're on the homepage</font1></div> #}
{#        <div style="text-align:center;"><font1 style="font-size: 22px; color: #D7000F;">Please login or register first</font1></div>#}

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'home/images/1.png' %}" alt="1">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Headline one</h1>
                        <p>......</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'home/images/2.png' %}" alt="2">
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Headline two</h1>
                        <p>......</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'home/images/3.png' %}" alt="3">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Headline three</h1>
                        <p>......</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'home/images/4.png' %}" alt="4">
{#                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>#}
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Headline four</h1>
                        <p>......</p>
                        <p><a class="btn btn-lg btn-primary" href="#">For more</a></p>
                    </div>
                </div>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    {% endif %}

</main>

{% include 'home/footer.html' %}

</body>
</html>