<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<title>Userpage - Profile</title>
{% include 'home/head.html' %}
<link href="{% static 'home/css/sidebars.css' %}" rel="stylesheet">
<script src="{% static 'home/js/sidebars.js' %}"></script>
<script src="{% static 'home/js/scrollbar.js' %}"></script>

<body>

{% include 'home/header.html' %}

<main style="background-color: #F1F2E5; margin-top: 50px;">
    <div class="d-flex flex-nowrap">
        <!-- Sidebar -->
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#grid"></use></svg>
                <span class="fs-5 fw-semibold">Sidebar</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
                        </ul>
                    </div>
                </li>

                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Account
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- Contacts -->
        <div class="flex-shrink-0 p-3" style="width: 696px; background-color:black;" align="center">
            <br>
            <span class="fs-2 fw-bold text-success">Search friends</span>
            <div class="d-flex flex-row justify-content-center">
                <div class="d-flex">
                    <span class="material-symbols-outlined" style="color: whitesmoke; margin-top: 5px;">search</span>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search by username..." aria-label="Search">
                    </form>
                </div>
            </div>
            <hr class="bg-light">
            <div class="fs-4 fw-semibold scrollarea" style="height: 220px; width: 500px; overflow-y: auto;" align="center">
                {% if user.is_staff %}
                <ul>{% for contact in contacts %}
                    <li>
                        <a href="{% url 'chat' contact.id %}">{{ contact.username }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <a href="{% url 'chat' 1 %}">{{ "Admin (Cheng Yu)" }}</a>
                {% endif %}
            </div>
            <hr class="bg-light">
        </div>

        <!--User info-->
        <div class="flex-shrink-0 p-3 bg-dark" style="width: 448px;" align="center">
            <!-- user info -->
            <div class="d-block">
                <hr class="bg-light">
                <img class="d-block rounded-circle" src="../media/{{avatar.avatar}}" alt="user" width="120" height="120">
                <div class="d-flex flex-row justify-content-center dropdown dropleft show p-2" style="margin-top: 10px;">
                    <!-- chat notification -->
                    <div class="btn-group dropleft" style="margin-right: 13px;">
                        <div class="d-flex notification-icon-container" id="id_chat_notification_dropdown_toggle">
                            <span id="id_chat_notification_count" class="notify-badge"></span>
                            <span class="btn btn-outline-primary material-icons notification-material-icon m-atuo align-items-center" data-bs-toggle="dropdown" 
                            style="color: #F1F2E5; font-size:24px;">chat</span>
                            <div class="dropdown-menu scrollarea" style="height: 200px; overflow-y: auto;" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notification_container">
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                            </div>
                        </div>
                    </div>
                    <!-- general notification -->
                    <div class="btn-group dropleft" style="margin-right: 13px;">
                        <div class="d-flex notification-icon-container" id="id_general_notification_dropdown_toggle">
                            <span id="id_general_notification_count" class="notify-badge"></span>
                            <span class="btn btn-outline-primary material-icons notification-material-icon m-atuo align-items-center" data-bs-toggle="dropdown" 
                            style="color: #F1F2E5; font-size:24px;">notifications</span>
                            <div class="dropdown-menu scrollarea" style="height: 200px; overflow-y: auto;" aria-labelledby="id_general_notification_dropdown_toggle" id="id_general_notification_container">
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                                <a class="dropdown-item" href="/myapp">Edit profile</a>
                            </div>
                        </div>
                    </div>
                    <!-- settings -->
                    <div class="btn-group dropleft">
                        <div class="d-flex notification-icon-container" id="id_settings_dropdown_toggle">
                            <span class="btn btn-outline-primary material-icons align-items-center" data-bs-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false" style="color: #F1F2E5; font-size:24px;">settings</span>
                            <div class="dropdown-menu" id="id_settings_container">
                                <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit profile</a>
                                <a class="dropdown-item" href="{% url 'change_password' %}">Change password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- friends -->
            <div class="d-block" style="margin-top: 8px; background-color: #F1F2E5;">
                <span class="fs-5 fw-bold text-dark">My friends</span>
                <br><br>
                <div class="fs-6 fw-semibold scrollarea bg-light" style="height: 300px; overflow-y: auto; margin-top: -20px;" >
                    <div class="d-flex flex-row" style="margin-bottom: 20px; margin-top: 10px; margin-left: 1px;">
                        <img class="d-block rounded-circle" src="../media/profile/default.png" alt="user" width="41" height="41">
                        <a class="btn" style="margin-left: 5px; margin-top: 1px; width: 150px; height: 42px; text-align: left;" href="#">User</a>
                        <div class="d-block" style="margin-left: 20px; margin-top: 3px">
                            <a class="btn btn-primary" style="margin-right: 2px" href="#">Message</a>
                            <a class="btn btn-danger" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="d-flex flex-row" style="margin-bottom: 20px; margin-left: 1px;">
                        <img class="d-block rounded-circle" src="../media/profile/default.png" alt="user" width="41" height="41">
                        <a class="btn" style="margin-left: 5px; margin-top: 1px; width: 150px; height: 42px; text-align: left;" href="#">User</a>
                        <div class="d-block" style="margin-left: 20px; margin-top: 3px">
                            <a class="btn btn-primary" style="margin-right: 2px" href="#">Message</a>                            <a class="btn btn-danger" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="d-flex flex-row" style="margin-bottom: 20px; margin-left: 1px;">
                        <img class="d-block rounded-circle" src="../media/profile/default.png" alt="user" width="41" height="41">
                        <a class="btn" style="margin-left: 5px; margin-top: 1px; width: 150px; height: 42px; text-align: left;" href="#">User</a>
                        <div class="d-block" style="margin-left: 20px; margin-top: 3px">
                            <a class="btn btn-primary" style="margin-right: 2px" href="#">Message</a>                            <a class="btn btn-danger" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="d-flex flex-row" style="margin-bottom: 20px; margin-left: 1px;">
                        <img class="d-block rounded-circle" src="../media/profile/default.png" alt="user" width="41" height="41">
                        <a class="btn" style="margin-left: 5px; margin-top: 1px; width: 150px; height: 42px; text-align: left;" href="#">User</a>
                        <div class="d-block" style="margin-left: 20px; margin-top: 3px">
                            <a class="btn btn-primary" style="margin-right: 2px" href="#">Message</a>                            <a class="btn btn-danger" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="d-flex flex-row" style="margin-bottom: 20px; margin-left: 1px;">
                        <img class="d-block rounded-circle" src="../media/profile/default.png" alt="user" width="41" height="41">
                        <a class="btn" style="margin-left: 5px; margin-top: 1px; width: 150px; height: 42px; text-align: left;" href="#">User</a>
                        <div class="d-block" style="margin-left: 20px; margin-top: 2px">
                            <a class="btn btn-primary" style="margin-right: 2px" href="#">Message</a>                            <a class="btn btn-danger" href="#">Remove</a>
                        </div>
                    </div>
                    <div class="d-flex flex-row" style="margin-bottom: 20px; margin-left: 1px;">
                        <img class="d-block rounded-circle" src="../media/profile/default.png" alt="user" width="41" height="41">
                        <a class="btn" style="margin-left: 5px; margin-top: 1px; width: 150px; height: 42px; text-align: left;" href="#">User</a>
                        <div class="d-block" style="margin-left: 20px; margin-top: 3px">
                            <a class="btn btn-primary" style="margin-right: 2px" href="#">Message</a>                            <a class="btn btn-danger" href="#">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'home/footer.html' %}

</body>
</html>