<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% include 'home/head.html' %}
<link href="{% static 'home/css/sidebars.css' %}" rel="stylesheet">
<script src="{% static 'home/js/sidebars.js' %}"></script>

<body style="background-color: black;">

{% include 'home/header.html' %}

<!-- Message display -->
{#{% if messages %}#}
{#    <ul class="messages">#}
{#        {% for message in messages %}#}
{#            <a{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: #002EA6">{{ message }}</a>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}

<main class="d-flex flex-nowrap">
    <div class="d-flex flex-nowrap">
        <!-- Sidebar -->
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 fw-semibold">Sidebar</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Dashboard
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Weekly</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Monthly</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li>
                        </ul>
                    </div>
                </li>

                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Processed</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Shipped</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Returned</a></li>
                        </ul>
                    </div>
                </li>

                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Account
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        
        <!-- User panel -->
        <div class="flex-shrink-0 p-3 bg-dark" style="width: 720px;" align="center">
            <span class="fs-5 fw-bold text-danger">Message Board</span>
            <div class="bg-primary" style="height: 350px; width: 680px;" align="left">
                {% if rets %}
                <ul>
                    {% for r in rets %}
                    <li>
                        {% if r.user_id is 1 %}
                        <div class="fs-5 fw-semibold text-light">{{ "(Reply) " }}{{ r.message }}</div>
                        {% else %}
                        <div class="fs-5 fw-semibold text-warning">{{ r.message }}</div>
                        {% endif %}
                        <div class="fs-6 text-dark">{{ r.received_date }}</div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No content yet.</p>
                {% endif %}
            </div>

            <br>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <p>
                        <label class="fs-5 fw-bold text-success" for="id_message">Type your message</label>
                        <textarea class="bg-dark fs-6 fw-semibold text-white" name="message" cols="67" rows="5" maxlength="1000" required id="id_message"></textarea>
                    </p>
                    <button class="btn btn-outline-success" type="submit">Send</button>
                </form>
            </div>
        </div>

        <!--Contact form-->
        <div class="bg-secondary">
            <div class="text-light" style="margin-left: 8px">
                <br><br><br><br><br>
                <h4>Contact me</h4>
                <p>Hi there, leave me a message, and I will reply you ASAP.</p>
                <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-danger" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% include 'home/footer.html' %}

</body>
</html>