# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# cache file
__pycache__
.idea
.DS_Store

# file that contains sensitive information
db_info.txt

# training dataset
media/cnn/C3PI_dataset/train_it
media/cnn/C3PI_dataset/validate_it
