<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<title>Userpage - Edit avatar</title>
{% include 'home/head.html' %}

<link href="{% static 'home/css/sidebars.css' %}" rel="stylesheet">
<script src="{% static 'home/js/scrollbar.js' %}"></script>
<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
		position: relative;
	}
	.field-heading{
		color: #737373;
	}
	#id_confirm{
		color: green;
	}
	#id_confirm:hover {
		opacity: 0.3;
	}
	#id_cancel:hover {
		opacity: 0.3;
	}
	#id_cancel{
		color: red;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
</style>

<body>

{% include 'home/header.html' %}

<main style="background-color: #F1F2E5; margin-top: 50px; margin-bottom: 40px;">   
	<!-- Message display -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <a{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: #002EA6">{{ message }}</a>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card profile-card" style="width: 500px; margin-top: 20px;">
                <div class="card-body">
                    <div class="d-flex flex-column justify-content-center p-4" style="margin-top: -20px;">
                        <span class="fs-5 fw-bold text-danger" style="text-align: center;">Edit avatar</span>
                        <hr class="bg-dark"> 
						<h4 class="fs-5 text-info">Note: the maximum image size is 10MB</h4>
                        <form class="form-signin" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <div class="d-flex flex-column mt-4">
                                <button class="mt-4 btn btn-primary flex-grow-1" type="submit">Save changes</button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'home/footer.html' %}

</body>
</html>