{% load static %}
<title>Welcome</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/index.css' %}">
<script src = "{% static 'myapp/js/home.js' %}"></script>

{% if latest_question_list %}
    <ul>{% for question in latest_question_list %}
        <li><a href="{% url 'myapp:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<div><a style="font-size: 14px; color: white;" href="{% url 'home' %}">Return to homepage</a></div>